@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
    overflow-x: hidden;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nunito Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #121212;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d2d2d2;
}

.scrollb::-webkit-scrollbar {
  width: 12px;
}

.scrollb::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d2d2d2;
}
